graphviz
psycopg2-binary
black
yapf
isort
jupyterlab_code_formatter
jupyterlab
flask
networkx
ydata-profiling
mlflow[extras]
flask_cors
plotly
skorch
sql_metadata
sqlparser
ipywidgets
ipython-sql
transformers
apache-airflow==2.5.0